{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About Jeremy</h1>
    </header>
    <article>
        <p>Jeremy is a programmer full of passion.</p>
    </article>
{% endblock %}
